<div id="pie_chart" [chartData]="pie_ChartData" [chartOptions]="pie_ChartOptions" chartType="PieChart" GoogleChart></div>
<div id="area_chart" [chartData]="area_ChartData" [chartOptions]="area_ChartOptions" chartType="AreaChart" GoogleChart></div>