﻿.jumbotron {
    text-align: center;
    height: 180px;
}

h1 {
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
    color: #FF7500;
}

img {
    float: left;
}

h6 {
    text-align: center;
    color: #111111;
}

.action-icon {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s;
}

.action-icon:hover {
    opacity: 1;
    transition: opacity 0.7s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    background-color: #C9CCCA;
    border-radius: 0.2em;
}

li#custom {
    /*float: left;*/
    border-right-style: solid;
    border-right-color: white;
    width: 31em;
    height: 3.45em;
}

li {
    float: left;
    border-right-style: solid;
    border-right-color: white;
}

li.icon {
    /*display: block;*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a,
.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #F9990E;
}

li.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

#versionFooter {
    position: relative;
    top: 5em;
}

