﻿<header style="height:12em;">
    <img src="images/orange.png">
    <h1> {{title}}</h1>
    <!--<h5>by Orange &copy;</h5>-->
</header>
<div style="height:35em;">
    <div>
        <ul>
            <li class="bouton_gauche" routerLinkActive="active">
                <a routerLink="home" (click)="modifyTitle('Interface d\'administration 118712')"><i class="glyphicon glyphicon-home"></i></a></li>
            <li class="bouton_gauche" routerLinkActive="active">
                <a routerLink="customer" (click)="modifyTitle('118712 - Parcours client')">Parcours client</a></li>
            <!--        <li class="bouton_gauche" routerLinkActive="active">
                <a routerLink="programming" (click)="modifyTitle('118712 - Programmation')">Programmation</a></li>-->
            <li class="dropdown" routerLinkActive="active">
                <a href="javascript:void(0)" class="dropbtn">Msg écrits</a>
                <div class="dropdown-content">
                    <a routerLink="writtenMessageModel">Modèle</a>
                    <a routerLink="writtenMessageText">Texte</a>
                    <!--                <a href="#">Règle</a>-->
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Msg vocaux</a>
                <div class="dropdown-content">
                    <a routerLink="customAudioMessage">Personnalisés</a>
                    <a routerLink="defaultAudioMessage">Par défaut</a>
                </div>
            </li>
            <li class="bouton_gauche" routerLinkActive="active">
                <a routerLink="masks" (click)="modifyTitle('118712 - Numéros noirs')">Numéros noirs</a></li>
            <!--        <li class="bouton_gauche"><a href="">Zone géo.</a></li>
            <li class="bouton_gauche"><a href="">Client</a></li>-->
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Simulateur</a>
                <div routerLinkActive="active" class="dropdown-content">
                    <a routerLink="smsSimulator" (click)="modifyTitle('118712 - Simulateur de sms')">Simulateur de sms</a>
                    <a routerLink="dialogSimulator" (click)="modifyTitle('118712 - Simulateur de dialogue')">Simulateur de dialogue</a>
                </div>
            </li>
            <li id="custom">
                <!--<a href="javascript:void(0)" ></a>-->
            </li>
            <li class="icon"><i class="glyphicon glyphicon-question-sign"></i></li>
        </ul>
    </div>
    <br>
    <br>
    <div>
        <!-- <home *ngIf="!welcomeFlag"></home>-->
    </div>
    <div>
        <router-outlet></router-outlet>
        <footer id="versionFooter">
            <h6>Version G04R00C00</h6>
            <br>
            <br>
        </footer>
    </div>
</div>