﻿<span *ngIf="!isValidating">
    <div id="dialSimuForm">
        <div>
            <label id="simulatorForm" class="text" >Liste des indicateurs réseaux :</label>
            <select id="simulatorForm">
                <option *ngFor="let du of duList">{{du}}</option>
            </select>
        </div>  
        <div>
            <label id="simulatorForm" class="text" >Liste des communautés :</label>
            <select id="comList">
                <option *ngFor="let communities of communitiesList">{{communities[1]}}</option>
            </select>
        </div>  
        <div>
            <label id="simulatorForm" class="text" >Liste des segments :</label>
            <select id="segList">
                <option *ngFor="let segments of segmentsList">{{segments[1]}}</option>
            </select>
        </div>  
        <div>
            <label id="simulatorForm" class="text" >Département d'origine :</label>
            <input id="depOri" type="text" size="50"/>
        </div>  
        <div>
            <label id="simulatorForm" class="text" >Date de la simulation :</label>
            <input id="simuDate" type="date"/>
        </div> 
        <div>
            <span id="validatingBtn" (click)="isValidating=true" class="btn btn-default">Valider</span>
        </div>  
    </div>
</span>
<span *ngIf="isValidating">  
    <div id="dialSimuForm2">  
        <div id="dialSimuResult">
            <div>
                <label id="phaseSearch">Recherche du parcours client</label>
            </div> 
            <div>
                <label id="returnedTemplate">Le parcours client retourné est :</label>
                <span id="fees" (click)="openPopup()" class="glyphicon glyphicon-volume-up action-icon btn btn-default"></span>
            </div> 
    <!--        <button (click)="isValidating=false" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon glyphicon-arrow-left action-icon" id="backButton"></span>
            </button>    
                <label id="backLabel">Retour</label>
            <div>                
                <div class="startline" >
                </div>
                <div>
                    <div class="circle" >
                        <label id="fees">Tarif</label>
                        <span id="fees" (click)="openPopup()" class="glyphicon glyphicon-volume-up action-icon btn btn-default"></span>
                    </div>
                    <label id="infos1">Le template retourné est </label>
                    <label id="infos2">le template par défaut</label>
                </div>
                <div class="line" >
                </div>
                <div class="circle">
                    <label id="welcome">Accueil</label>
                    <span id="welcome" class="glyphicon glyphicon-volume-up action-icon btn btn-default"></span>
                </div>        
                <div class="line" >
                </div>
                <div class="circle">
                    <label id="waiting">Attente</label>
                    <span id="waiting" class="glyphicon glyphicon-volume-up action-icon btn btn-default"></span>
                </div>        
                <div class="line" >
                </div>
                <div class="circle">
                    <label id="promo">Promo</label>
                    <span id="promo" class="glyphicon glyphicon-volume-up action-icon btn btn-default"></span>
                </div>               
                <div class="startline" >
                </div>
            </div>-->
        </div>
        <div id="dialSimuResult">
            <div>
                <label id="phaseSearch">Recherche du message d'accueil</label>
            </div>
            <div>
                <label id="returnedTemplate">Le template retourné est :</label>
            </div>
        </div>
        <div id="dialSimuResult">
            <div>
                <label id="phaseSearch">Recherche du message de tarif</label>
            </div>
            <div>
                <label id="returnedTemplate">Le template retourné est :</label>
            </div>
        </div>
        <div id="dialSimuResult">
            <div>
                <label id="phaseSearch">Recherche du message d'attente</label>
            </div>
            <div>
                <label id="returnedTemplate">Le template retourné est :</label>
            </div>
        </div>
        <div id="dialSimuResult">
            <div>
                <label id="phaseSearch">Recherche du message de promo</label>
            </div>
            <div>
                <label id="returnedTemplate">Le template retourné est :</label>
            </div>
        </div>
        <span (click)="isValidating=false" class="btn btn-default myBackButon" type="button">Retour</span>  
    </div>
</span>
<ng2-popup id='toto' (click)="closePopup()" ></ng2-popup>



