label.text {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

select#communitiesSelect {
    position: relative;
    left: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 0.4em;
    width: 18em;
}

input#communitiesSelect {
    position: relative;
    left: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 18em;
    border: 1px solid grey;
    border-radius: 0.4em;
}

select#segmentsSelect {
    position: relative;
    left: 1.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 0.4em;
    width: 18em;
}

input#segmentsSelect {
    position: relative;
    left: 6.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 18em;
    border: 1px solid grey;
    border-radius: 0.4em;
}

#validityDate {
    position: relative;
    left: 1em;
    top: 0em;
}