.circle{
	width:120px;
	height:120px;
	background:#D3D8D4	;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
	box-shadow: 8px 8px 12px #aaa;
}

.line{
	width:5px;
	height:30px;
	background:#BCBFBD	;
}

.startline{
	width:5px;
	height:45px;
	background:#BCBFBD	;
}