<div class="progDetails" [ngStyle]="divDetailsStyle">  
    <header id="consultPanel">
        <h2>{{title}}</h2>
    </header>
    <br>
    <div>
        <label id="consultProg" class="text">{{routeNameLabel}}</label>
        <input id="consultProg" [ngModel]="routeName" disabled/>
    </div>
    <div>
        <label id="consultProg" class="text">{{phaseNameLabel}}</label>
        <input id="consultProg" [ngModel]="phaseName" disabled/>
    </div>
    <div>
        <label id="consultProg" class="text">Modèle du message :</label>
        <input id="consultProg" [ngModel]="model" [disabled]="!isModifying&&!Adding" *ngIf="!isModifying"/>
        <select id="consultProg" [(ngModel)]="model" *ngIf="isModifying||Adding">
            <!--<option *ngFor="let phaseMessageModel of phaseMessageModels" [selected]="model == phaseMessageModel">{{phaseMessageModel}}</option>-->
            <option *ngFor="let phaseMessageModel of templates" [ngValue]="phaseMessageModel.templateName" [selected]="model == phaseMessageModel.templateName">{{phaseMessageModel.templateName}}</option>
        </select>
    </div>
    <div id="consultFooterSms" *ngIf="phaseName=='Sms'">
        <label id="consultFooterSms" class="text">Contenu du pied (Si vide, le contenu du template par défaut sera diffusé)</label>
        <div>
            <label id="consultFooterSms2" class="text" >Contenu du message :</label>
            <input id="consultFooterSms" list="footers" [ngModel]="messageContent" [disabled]="!isModifying&&!Adding"/>
            <datalist id="footers" [(ngModel)]="messageContent" >
                <option *ngFor="let content of _templateContents" [ngValue]="content.templateContentTxt">{{content.templateContentTxt}}</option>
            </datalist>
        </div>
    </div>
    <div>
        <label id="consultProg" class="text" *ngIf="phaseName=='Promo'">Choisir la piste :</label>
        <input id="consultProg" [ngModel]="track" [disabled]="!isModifying&&!Adding" *ngIf="phaseName=='Promo'"/>
        <select id="consultProg" *ngIf="phaseName=='Promo'&&(isModifying||Adding)">
            <option *ngFor="let trackNumber of trackList" [selected]="track == trackNumber">{{trackNumber}}</option>
        </select>
    </div>
    <div>
        <label id="consultProg" class="text" >Priorité :</label>
        <input id="consultProg" [ngModel]="priority" [disabled]="!isModifying&&!Adding" *ngIf="!isModifying"/>
        <select id="consultProg" [(ngModel)]="priority" *ngIf="isModifying||Adding">
            <option *ngFor="let phasePriority of priorities" [ngValue]="phasePriority.libPriority" [selected]="priority == phasePriority.libPriority">{{phasePriority.libPriority}}</option>
        </select>
    </div>
    <div>
        <label id="consultProg" class="text" *ngIf="phaseName=='Sms'">Liste des activités :</label>
        <input id="consultProg" [disabled]="!isModifying&&!Adding" *ngIf="(phaseName=='Sms')"/>
        <label id="consultProgSms" class="text" *ngIf="phaseName=='Sms'">(séparateur ";")</label>
    </div>
    <div id="typeChoice">
        <label id="typeChoice">Choix type</label>
        <input id="typeChoice" type=radio name="typeChoice" [checked]="!isPeriodChecked" [disabled]="!isModifying&&!Adding" (click)="typeChoiceResizing(false)"/><font id="typeChoice">Liste de dates</font>
        <input id="typeChoice" type=radio name="typeChoice" [checked]="isPeriodChecked" [disabled]="!isModifying&&!Adding" (click)="typeChoiceResizing(true)"/><font id="typeChoice">Périodes</font>
    </div>
    <div id="consultProgDate" [ngStyle]="progDateStyles" *ngIf="!isPeriodChecked"> 
        <div id="consultProgDate2" *ngFor="let flag of dateListFlags"> 
            <div>
                <label id="consultProg" class="text">Date de début :</label>
                <!--<input type=date [ngModel]="dateStart[flag-1]" id="consultProgDate" />-->                  
                <my-date-picker id="mydate1" (dateChanged)="onDateChanged($event, 'start',flag-1)" [disabled]="!isModifying&&!Adding" [options]="myDatePickerOptions" [(ngModel)]="myDateStart[flag-1]"></my-date-picker>
            </div>   
            <div>     
                <label id="consultProg" class="text">Date de fin :</label>
                <!--<input type=date [ngModel]="dateEnd[flag-1]" id="consultProgDate"/>-->   
                <my-date-picker id="mydate2" (dateChanged)="onDateChanged($event, 'end',flag-1)" [disabled]="!isModifying&&!Adding" [options]="myDatePickerOptions" [(ngModel)]="myDateEnd[flag-1]"></my-date-picker>
                <span id="dateRemove" class="glyphicon glyphicon-trash btn btn-default btn-sm" (click)="dateRemove()" *ngIf="(flag!=1)&&(isModifying||Adding)"></span>
            </div>  
        </div>        
        <span id="dateAdd" class="glyphicon glyphicon-plus btn btn-default btn-sm" *ngIf="isModifying||Adding" (click)="dateAdd()"></span>
    </div>
    <div id="consultProgDate" [ngStyle]="progDateStyles" *ngIf="isPeriodChecked">
            <div>
                <label id="consultProg3" class="text">Date de début :</label>
                <!--<input type=text [ngModel]="periodDateStart" [disabled]="!isModifying" id="consultProgDate2"/>-->              
                <my-date-picker id="mydate3" [disabled]="!isModifying&&!Adding" [options]="myDatePickerOptions" [(ngModel)]="myPeriodStartDate"></my-date-picker>
            </div>
            <div>
                <label id="consultProg3" class="text">Date de fin :</label>
                <!--<input type=text [ngModel]="periodDateEnd" [disabled]="!isModifying" id="consultProgDate2" />--> 
                <my-date-picker id="mydate4" [disabled]="!isModifying&&!Adding" [options]="myDatePickerOptions" [(ngModel)]="myPeriodEndDate"></my-date-picker> 
            </div>
            <div>
                <label id="consultProg" class="text">Heure de début :</label>
                <input id="consultProgDate2" [ngModel]="periodHourStart" [disabled]="!isModifying&&!Adding" *ngIf="!isModifying"/>
                <select id="consultProgDate2" *ngIf="isModifying||Adding">                    
                    <option *ngFor="let hour of hourList" [selected]="periodHourStart == hour">{{hour}}</option>
                </select>  
            </div>
            <div>
                <label id="consultProg" class="text">Heure de fin :</label>
                <input id="consultProgDate2" [ngModel]="periodHourEnd" [disabled]="!isModifying&&!Adding" *ngIf="!isModifying"/>
                <select id="consultProgDate2" *ngIf="isModifying||Adding">
                    <option *ngFor="let hour of hourList" [selected]="periodHourEnd == hour">{{hour}}</option>
                </select>  
            </div>
            <div>
                <label id="consultProg" class="text">Durée :</label>
                <input id="consultProgDate2" [ngModel]="duration" [disabled]="!isModifying&&!Adding" *ngIf="!isModifying"/>
                <select id="consultProgDate2" *ngIf="isModifying||Adding">                
                    <option *ngFor="let dur of durationList" [selected]="duration == dur">{{dur}}</option>
                </select>  
            </div>
            <div id="periodChoice">
                <input type=radio name="periodChoice" [disabled]="!isModifying&&!Adding" [checked]="_isDailyChecked" (click)="periodCheckedResizing('Quotidien')"/><font id="typeChoice">Quotidien</font>
                <input type=radio name="periodChoice" [disabled]="!isModifying&&!Adding" [checked]="_isWeeklyChecked" (click)="periodCheckedResizing('Hebdomadaire')"/><font id="typeChoice">Hebdomadaire</font>
                <input type=radio name="periodChoice" [disabled]="!isModifying&&!Adding" [checked]="_isMonthlyChecked" (click)="periodCheckedResizing('Mensuel')"/><font id="typeChoice">Mensuel</font>
            </div>
            <div *ngIf="_isMonthlyChecked">
                <label id="periodChoice" class="text">Le :</label>
                <input type=text id="consultProgDate2" [ngModel]="the" [disabled]="!isModifying&&!Adding"/>  
            </div>
            <div>
                <label id="periodChoice" class="text">{{periodLabel}}</label>
                <input type=text id="consultProgDate2" [ngModel]="interval" [disabled]="!isModifying&&!Adding"/>  
                <label id="periodChoice2" class="text">{{period}}</label>
            </div>
            <div id="periodChoice" *ngIf="_isWeeklyChecked">
                <input type=checkbox [checked]="_isMondayChecked" [disabled]="!isModifying&&!Adding"/><font id="typeChoice">Lundi</font>
                <input type=checkbox [checked]="_isTuesdayChecked" [disabled]="!isModifying&&!Adding"/><font id="typeChoice">Mardi</font> 
                <input type=checkbox [checked]="_isWedenesdayChecked" [disabled]="!isModifying&&!Adding"/><font id="typeChoice">Mercredi</font> 
                <input type=checkbox [checked]="_isThursdayChecked" [disabled]="!isModifying&&!Adding"/><font id="typeChoice">Jeudi</font> 
                <input type=checkbox [checked]="_isFridayChecked" [disabled]="!isModifying&&!Adding"/><font id="typeChoice">Vendredi</font> 
                <input type=checkbox [checked]="_isSaturdaydayChecked" [disabled]="!isModifying&&!Adding"/><font id="typeChoice">Samedi</font> 
                <input type=checkbox [checked]="_isSundayChecked" [disabled]="!isModifying&&!Adding"/><font id="typeChoice">Dimanche</font>  
            </div>
            <div>
                <label id="periodChoice" class="text">Sauf :</label> 
                <input type=text id="consultProg" [ngModel]="exception" [disabled]="!isModifying&&!Adding"/>  
                <label id="periodChoice3" class="text">(format dd/mm/yyyy, séparateur=",")</label>
            </div>
    </div>
    <div id="progHelp" [ngStyle]="helpStyle">
        <span class="glyphicon glyphicon-question-sign btn btn-default btn-sm" (click)="panelHelp()"></span>
    </div>
    <div id="buton">
        <span id="modifyBtn" *ngIf="!isModifying&&!Adding" (click)="modifyProg()" [ngStyle]="myButonStyle" class="btn btn-default myButon">Modifier</span>
        <span id="progDelete"  *ngIf="!isModifying&&!Adding" class="glyphicon glyphicon-trash btn btn-default btn-sm" (click)="deleteProg()"></span>
        <span id="saveBtn" *ngIf="isModifying&&!Adding" (click)="createOrModifyProg('modify')" [ngStyle]="myButonStyle" class="btn btn-default myButon">Enregistrer</span>
        <span id="createBtn" *ngIf="Adding" (click)="createOrModifyProg('create')" [ngStyle]="myButonStyle" class="btn btn-default myButon">Créer</span>
        <span id="cancelBtn" *ngIf="isModifying&&!Adding" (click)="cancel()" [ngStyle]="myButonStyle" class="btn btn-default myButon">Annuler</span>
    </div>
</div>  
<modal id="progHelp">
    En cas de superposition de programmation (même priorité), celle qui finit au plus tôt, et commence au plus tard sera jouée. 
</modal>