<div class="routeDetails">  
    <header id="consultPanel">
        <h2>{{title}}</h2>
    </header>
    <br>
    <div class="routeName">
        <label class="text" >Nom du parcours :</label>
        <input id="consultProg" *ngIf="!Adding" disabled [ngModel]="routeName"/>
        <input *ngIf="Adding" id="consultProg" [(ngModel)]="createdRouteName"/>
    </div>
    <div class="list" style="overflow-y: auto;">
        <label class="text" >Liste des indicateurs réseaux :</label>
        <input id="duSelect" *ngIf="(!isModifying)&&(!Adding)" disabled value=" DU 0 Tous réseaux"/>
        <select name="select" id="duSelect" *ngIf="(isModifying)||(Adding)" (change)="setSelected('du', $event.target.value)">
            <option *ngFor="let du of duList"  value="DU {{du.serviceDu}} {{du.serviceDescription}}">DU {{du.serviceDu}} {{du.serviceDescription}}</option>
        </select>
        <span *ngIf="(isModifying)||(Adding)" style="top:11.5em;" class="glyphicon glyphicon-plus action-icon btn btn-default btn-sm myListAddButon" (click)="appendTextArea('du')"></span>
        <div style="margin-top:0.5em">
            <label *ngFor="let du of duDetails" type="button" class="btn btn-info btn-sm myBtn">{{du}}<span class="glyphicon glyphicon-remove mySpan" (click)="removeItem('du',du)" *ngIf="(isModifying)||(Adding)"></span></label>
        </div>
        <span *ngIf="(isModifying)||(Adding)" style="top:11.5em;left:40em" class="glyphicon glyphicon-trash action-icon btn btn-default btn-sm myListAddButon" (click)="cleartextArea('du')"></span>
    </div>
    <div class="list" style="overflow-y: auto;">
        <label class="text" >Liste des communautés :</label>
        <input id="communitiesSelect" *ngIf="(!isModifying)&&(!Adding)" disabled value=" Toutes communautés"/>
        <select id="communitiesSelect" *ngIf="(isModifying)||(Adding)" (change)="setSelected('communities',$event.target.value)">
            <option *ngFor="let communities of communitiesList">{{communities.libCommunity}}</option>
        </select>
        <span *ngIf="(isModifying)||(Adding)" style="top:26.15em;" class="glyphicon glyphicon-plus action-icon btn btn-default btn-sm myListAddButon" (click)="appendTextArea('communities')"></span>
        <div style="margin-top:0.5em">
            <label *ngFor="let communities of communitiesDetails" type="button" class="btn btn-info btn-sm myBtn">{{communities}}<span class="glyphicon glyphicon-remove mySpan" (click)="removeItem('communities',communities)" *ngIf="(isModifying)||(Adding)"></span></label>
        </div>
        <span *ngIf="(isModifying)||(Adding)" style="top:26.15em;left:40em" class="glyphicon glyphicon-trash action-icon btn btn-default btn-sm myListAddButon" (click)="cleartextArea('communities')"></span>
        <div style="width:3.5em;background-color:orange;position:fixed;top:22.5em;left:38em;padding:0.2em;">
            <input type=radio name="periodChoice" disabled checked/><font id="typeChoice">ET</font>
        </div>
    </div>
    <div class="list" style="overflow-y: auto;">
        <label class="text" >Liste des segments :</label>
        <input id="segmentsSelect" *ngIf="(!isModifying)&&(!Adding)" disabled value=" Toutes catégories"/>
        <select id="segmentsSelect" *ngIf="(isModifying)||(Adding)" (change)="setSelected('segments',$event.target.value)">
            <option *ngFor="let segments of segmentsList" [selected]="segments.libCategory=='Toutes catégories'">{{segments.libCategory}}</option>
        </select>
        <span *ngIf="(isModifying)||(Adding)" style="top:40.75em;" class="glyphicon glyphicon-plus action-icon btn btn-default btn-sm myListAddButon" (click)="appendTextArea('segments')"></span>
        <div style="margin-top:0.5em">
            <label *ngFor="let segments of segmentsDetails" type="button" class="btn btn-info btn-sm myBtn">{{segments}}<span class="glyphicon glyphicon-remove mySpan" (click)="removeItem('segments',segments)" *ngIf="(isModifying)||(Adding)"></span></label>
        </div>
        <span *ngIf="(isModifying)||(Adding)" style="top:40.75em;left:40em" class="glyphicon glyphicon-trash action-icon btn btn-default btn-sm myListAddButon" (click)="cleartextArea('segments')"></span>
    </div>
    <div id="routeHelp">
        <span class="glyphicon glyphicon-question-sign btn btn-default btn-sm" (click)="panelHelp()"></span>
    </div>
    <div id="buton">
        <span id="modifyBtn" *ngIf="(!isModifying)&&!Adding" (click)="modifyRoute()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Modifier</span>
        <span id="saveBtn" *ngIf="isModifying&&(!Adding)" (click)="saveRoute()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Enregistrer</span>
        <span id="createBtn" *ngIf="Adding" (click)="createRoute()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Créer</span>
        <span id="cancelBtn" *ngIf="isModifying&&(!Adding)" (click)="cancel()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Annuler</span>
    </div>
</div>  
<modal id="routeHelp">
    En cas de superposition de programmation (même priorité), celle qui finit au plus tôt, et commence au plus tard sera jouée. 
</modal> 
