table {
    border-collapse: collapse;
    width: 100%;
}

div#table {
    border: 1px solid #FFA500;
    border-radius: 0.4em;
    padding: 0.5em;
}

th {
    height: 3.1em;
    /*border: 1px solid black;*/
    text-align: center;
    background-color: #FFA500;
    width: 11em;
    border-radius: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

th#title {
    background-color: #FFA500;
    width: 12em;
}

th#command {
    background-color: #FFA500;
    width: 3em;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

tr:nth-child(even) {
    background-color: grey;
}

tr:hover {
    background-color: skyblue;
}

td {
    height: 3.1em;
    /*border: 1px solid black;  */
    text-align: center;
    /*border-right: 1px solid #FFA500;*/
    border-radius: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

tr {
    /*border-bottom: 2px solid #FFA500; */
    border-radius: 0.4em;
}

td#title {
    /*border: 1px solid black; */
    text-align: left;
    padding: 1em;
    border-radius: 0.4em;
}

header#consultPanel h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: orange;
}


/**********************************************************/


/* Styles fenêtres de consultation Parcours et Programmes */


/**********************************************************/

div.routeDetails {
    height: 55em;
    width: 62.1em;
    margin: 0.7em;
    border: 1px solid orange;
    border-radius: 0.5em;
    padding-left: 4em;
}

div.progDetails {
    height: 44em;
    width: 62.1em;
    margin: 0.7em;
    border: 1px solid orange;
    border-radius: 0.5em;
    padding-left: 4em;
}


/*********************************************/


/* Styles liste consultation Parcours client */


/*********************************************/

div.list {
    width: 53em;
    height: 12em;
    margin: 0.5em;
    /*  padding: 1em;*/
    border: 1px solid grey;
    border-radius: 0.4em;
}

textarea {
    margin-top: 1.5em;
    margin-left: 20em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 20em;
    height: 9em;
    border-radius: 0.4em;
    background: skyblue;
}

div.routeName {
    width: 100%;
    height: 2.5em;
    margin: 0em;
}

select#duSelect {
    position: relative;
    left: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 0.4em;
    width: 18em;
}

input#duSelect {
    position: relative;
    left: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 18em;
    border: 1px solid grey;
    border-radius: 0.4em;
}

select#communitiesSelect {
    position: relative;
    left: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 0.4em;
    width: 18em;
}

input#communitiesSelect {
    position: relative;
    left: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 18em;
    border: 1px solid grey;
    border-radius: 0.4em;
}

select#segmentsSelect {
    position: relative;
    left: 1.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 0.4em;
    width: 18em;
}

input#segmentsSelect {
    position: relative;
    left: 6.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 18em;
    border: 1px solid grey;
    border-radius: 0.4em;
}


/*********************************************/

font#infos {
    margin: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    /*background: skyblue;*/
    color: white;
}

font#routeName {
    margin: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: orange;
}

font#typeChoice {
    margin: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
}

font#delete {
    margin: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: black;
}

.modal-content {
    position: fixed;
    left: -9em;
}

select#communitiesSelect {
    margin-left: 3em;
}

select#segmentsSelect {
    margin-left: 5em;
}

span#dateAdd {
    margin: 0.2em;
    position: relative;
    top: 0.6em;
}

span#dateRemove {
    margin: 0.2em;
    position: relative;
    top: -0.70em;
    left: 21em;
}

span#progDelete {
    margin: 0.2em;
    position: fixed;
    top: 2.5em;
    left: 58em;
    border: 1px solid orangered;
}

label.text {
    margin: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}


/************************************/


/* Style consultation programmation */


/************************************/

label#consultProg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    left: 0.5em;
    top: 0em;
}

label#consultProg3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    left: 0.5em;
    top: -0.7em;
}

label#consultProg1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    left: 0.5em;
    top: -1em;
}

label#consultProg2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    left: 2.45em;
    top: -1em;
}

input#consultProg {
    width: 20em;
    margin: 0.5em;
    position: fixed;
    left: 8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 1.6em;
    padding: 0.10em;
    border: 1px solid grey;
    border-radius: 0.4em;
}

select#consultProg {
    width: 20em;
    margin: 0.5em;
    position: fixed;
    left: 8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0.4em;
}

div#typeChoice {
    border-bottom: 2px solid orange;
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 60em;
}

label#typeChoice {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: orange;
}

input#typeChoice {
    margin-left: 1.5em;
    padding: 1em;
    color: black;
}

div#periodChoice {
    /*    position: fixed;
    left: 2em;*/
    margin-left: 1em;
    margin-bottom: 0.5em;
    /*padding: 1em;*/
    color: black;
}

label#periodChoice {
    font-size: 12px;
    font-weight: normal;
    margin-left: 6em;
}

label#periodChoice2 {
    font-size: 12px;
    font-weight: normal;
    position: fixed;
    left: 21em;
}

label#periodChoice3 {
    font-size: 12px;
    font-weight: normal;
    position: fixed;
    left: 28.5em;
}

div#consultProgDate {
    border: 1px solid black;
    border-radius: 0.4em;
    background: skyblue;
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 60em;
    height: 10em;
}

div#consultProgDate2 {
    border: 1px solid black;
    border-radius: 0.4em;
    background: skyblue;
    margin-top: 1em;
    margin-left: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 59em;
    height: 8em;
    padding-top: 0.5em;
}

input#consultProgDate {
    margin-top: 0.25em;
    border: 1px solid grey;
    border-radius: 0.4em;
    position: fixed;
    left: 8.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 1.6em;
    padding: 0em;
}

#mydate1 {
    position: relative;
    left: 2.4em;
}

#mydate2 {
    position: relative;
    left: 4em;
}

#mydate3 {
    position: relative;
    left: 3em;
    top: 0.5em;
}

#mydate4 {
    position: relative;
    left: 4.5em;
    top: 0.5em;
}

input#consultProgDate2 {
    margin-top: 0.25em;
    border: 1px solid grey;
    border-radius: 0.4em;
    position: fixed;
    left: 8.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 1.6em;
    width: 12.4em;
    padding: 0em;
}

select#consultProgDate2 {
    margin-top: 0.25em;
    border: 1px solid grey;
    border-radius: 0.4em;
    position: fixed;
    left: 8.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 1.6em;
    width: 12.4em;
    padding: 0em;
}


/*input#validityDate {
    margin-top: 0.25em;
    border: 1px solid grey;
    border-radius:0.4em;
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height:1.6em;
    width: 12.4em;
    padding: 0em;
}*/

#validityDate {
    position: relative;
    left: 1em;
    top: 0em;
}

#validityDate2 {
    position: relative;
    left: 3em;
    top: 0em;
}

div#validityPeriod {
    margin-bottom: 0.5em;
    border: 1px solid #FFA500;
    border-radius: 0.4em;
    padding: 0.5em;
    height: 3.7em;
}

label#consultProgSms {
    font-size: 12px;
    font-weight: normal;
    position: fixed;
    left: 28.5em;
}


/************************************/


/* Style contenu du pied Sms        */


/************************************/

div#consultFooterSms {
    border: 1px solid black;
    margin-top: 0.5em;
    margin-left: 0em;
    margin-bottom: 0.5em;
    padding: 0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 60em;
    height: 5em;
}

label#consultFooterSms {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: orange;
    border-bottom: 1px solid orange;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

label#consultFooterSms2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

input#consultFooterSms {
    width: 20em;
    margin: 0.3em;
    position: fixed;
    left: 8.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 1.6em;
    padding: 0em;
    border: 1px solid grey;
    border-radius: 0.4em;
}


/*********************/


/* Styles des butons */


/*********************/

.myButon {
    position: fixed;
    top: 38em;
}

.myRouteButon {
    position: fixed;
    top: 48.65em;
}

.myListAddButon {
    position: fixed;
    left: 36.5em;
}

#modifyBtn {
    /*    position: fixed;
    top: 38em;*/
    left: -7.5em;
}

#saveBtn {
    /*    position: fixed;
    top: 38em;*/
    left: 40.2em;
}

#createBtn {
    /*    position: fixed;
    top: 38em;*/
    left: 44.8em;
}

#cancelBtn {
    /*    position: fixed;
    top: 38em;*/
    left: 47.5em;
}


/*******************************/


/* Styles des sections d'aides */


/*******************************/

div#routeHelp {
    position: fixed;
    top: 53em;
    left: -7.5em;
}

modal#routeHelp {
    position: fixed;
    top: 52.5em;
    left: -7.5em;
}

modal#progHelp {
    top: 41.5em;
    left: -5em;
}

div#progHelp {
    position: fixed;
    top: 42em;
    left: -7.5em;
}

.myBtn {
    margin: 0.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.mySpan {
    margin-left: 1em;
}