<div style="width:52em;height:7em;text-align:center;">
    <font id="typeChoice">Confirmez-vous la suppression du parcours : <font id="routeName">{{routeName}}</font> ?</font>
    <span (click)="deleteRoute()" style="position:fixed;left:12em;top:3em;margin:0.5em;" class="btn btn-default">Oui</span>
    <span (click)="closeWindow()" style="position:fixed;left:17em;top:3em;margin:0.5em;" class="btn btn-default">Non</span>
</div>