
<br>
<br>
<div id="validityPeriod">
    <label id="consultProg1">Période de validité : </label>
    <my-date-picker id="validityDate" [options]="myDatePickerOptions" [(ngModel)]="myStartDate" (dateChanged)="modifyDate(1,$event)"></my-date-picker>
    <!--<input id="validityDate" type="text" name="date1" [ngModel]="startDateVal | date:'yyyy-MM-dd'" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" (ngModelChange)="modifyDate(1,$event)" size="50"/>-->
    <label id="consultProg2">  à  </label>
    <my-date-picker id="validityDate2" [options]="myDatePickerOptions" [(ngModel)]="myEndDate" (dateChanged)="modifyDate(2,$event)"></my-date-picker>
    <!--<input id="validityDate" type="text" name="date2" [ngModel]="endDateVal | date:'yyyy-MM-dd'" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" (ngModelChange)="modifyDate(2,$event)" size="50"/>-->
</div>
<br>
<br>
<div id="table" style="overflow-y: auto;">
    <table>
        <tr>
            <th id="title">Parcours</th>
            <th>Accueil</th>
            <th>Tarif</th>
            <th>Attente</th>
            <th>Promo</th>
            <th>Sms</th>        
            <th id="command">
                <span (click)="addRoute()" class="glyphicon glyphicon-plus action-icon btn btn-default"></span>
            </th>
        </tr>
        <tr *ngFor="let customerRoute of customerRouteList">
            <td (click)="consultRoute(customerRoute)" id="title">{{customerRoute[0]}}</td>
            <td (click)="consultRouteProg(customerRoute, 1)" >{{customerRoute[2]}}</td>
            <td (click)="consultRouteProg(customerRoute, 2)" >{{customerRoute[3]}}</td>
            <td (click)="consultRouteProg(customerRoute, 3)" >{{customerRoute[4]}}</td>
            <td (click)="consultRouteProg(customerRoute, 4)" >{{customerRoute[5]}}</td>
            <td (click)="consultRouteProg(customerRoute, 5)" >{{customerRoute[6]}}</td>
            <td>
                <!--<span (click)="modifyRoute(customerRoute)" class="glyphicon glyphicon-pencil action-icon btn btn-default"></span>-->
                <span (click)="deleteRoute(customerRoute)" class="glyphicon glyphicon-trash action-icon btn btn-default"></span>
            </td>
        </tr>
    </table>
</div> 

<modal>
    <consultRouteForm class="modal-content" *ngIf="isConsulting||isAdding" [routeName]="routeName" (onCreate)="routeCreate($event)" (onSave)="routeSave($event)" (onModify)="routeModify($event)" (onCancel)="routeModifyCancel($event)" [idRoute]="idRoute" [Adding]="isAdding"></consultRouteForm>
    <consultRouteProgForm class="modal-content" *ngIf="isConsultingProg" [routeName]="routeName" (onCreate)="routeCreate($event)" (onClose)="modalClose($event)" (onSave)="routeCreate($event)" (onModify)="routeModify($event)" (onCancel)="routeModifyCancel($event)" [idRoute]="idRoute" [phaseName]="phaseName" [step]="step" [Adding]="isNewProg"></consultRouteProgForm>
    <!--<addRouteForm *ngIf="isAdding"></addRouteForm>-->
    <deleteRouteForm *ngIf="isDeleting" class="modal-content" [routeName]="routeName" [idRoute]="idRoute" (onClose)="modalClose($event)"  (onDelete)="onDelete($event)"></deleteRouteForm>
    <modifyRouteForm *ngIf="isModifying" [routeName]="routeName"></modifyRouteForm>
    
</modal>