table
{
    border-collapse: collapse;    
    width: 100%;
}

div#table {
    margin-top: 3em;
    border: 1px solid #FFA500;
    border-radius: 0.4em;
    padding: 0.5em;  
    width: 100%;
}

th {
    height: 3.1em;
    /*border: 1px solid black;*/
    text-align: center;
    background-color: #FFA500;
    width: 11em;
    border-radius: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

th#title {
    background-color: #FFA500  ;
    width: 12em;
}

th#command {
    background-color: #FFA500 ;
    width: 3em;
}
tr:nth-child(odd) {background-color: lightgrey;}
tr:nth-child(even) {background-color: grey;}
tr:hover {background-color: skyblue;}

textarea
{
    width: 300px;
    height: 100px;
}
td 
{
    height: 3.1em;
    /*border: 1px solid black;  */  
    text-align: center;
    /*border-right: 1px solid #FFA500;*/
    border-radius: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

tr
{ 
    /*border-bottom: 2px solid #FFA500; */
    border-radius: 0.4em;
}

td#title 
{
    /*border: 1px solid black; */
    text-align: left;   
    padding: 1em; 
    border-radius: 0.4em;
}

header#consultPanel h2
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-size: 27px ;  
    font-weight: bold;
    color: orange;
}

div#typeChoice {
    border-bottom: 2px solid orange;
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 60em;
}

label#typeChoice
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: orange;
}

input#typeChoice {
    margin-left: 1.5em;
    padding: 1em;
    color: black;
}

font#maskName
{
    margin: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;    
    color: orange;
}


.modal-content {
  position:fixed;
  left:-15em;
}
/**********************************************************/
/* Styles fenêtres de consultation numeros masqués        */
/**********************************************************/
div.maskDetails
{
  height: 30em;
  width: 50em; 
  margin: 0.7em;
  border:  1px solid orange;
  border-radius: 0.5em;
  padding-left: 4em;
}

div.maskName
{    
  width: 100%;
  height: 2.5em;  
  margin: 0em;  
}

#descMaskId
{
    width:350px;
}

#smsMaskId
{
    width:350px;
}

.consult-mask
{
    width: 20em;
    margin: 0.5em;
    
    position: fixed;
    left: 8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height:1.6em;
    padding: 0.10em;
    border: 1px solid grey;
    border-radius:0.4em;
}
.consult-mask#consultMask{
  width:400px;  
}

label#consultMask {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position:relative;
    left:0.5em;
    top:0em;
}
input#consultMask {
    width: 20em;
    margin: 0.5em;
    
    position: fixed;
    left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height:1.6em;
    padding: 0.10em;
    border: 1px solid grey;
    border-radius:0.4em;
}
/**********************************************************/
/* Styles boutons fenêtres de consultation numeros masqués        */
/**********************************************************/

#modifyBtn {
/*    position: fixed;
    top: 38em;*/
    left: -7.5em;
}

#saveBtn {
/*    position: fixed;
    top: 38em;*/
    left: 40.2em;
}

#createBtn {
/*    position: fixed;
    top: 38em;*/
    left: 44.8em;
}

#cancelBtn {
/*    position: fixed;
    top: 38em;*/
    left: 47.5em;
}
/*******************************/
/* Styles des sections d'aides */
/*******************************/
div#maskHelp {
    position: fixed;
    top: 22em;
    left: -10.1em;
}

modal#maskHelp {
    position: fixed;
    top: 22em;
    left: -7.5em;
}

