<div id="table" style="overflow-y: auto;">
    <table>
        <tr>
            <th id="title">Description</th>
            <th>Numéro GIS</th>
            <th>Numéro Public</th>
            <th>Message SMS</th>
            <th id="command">
                <span (click)="addMask()" class="glyphicon glyphicon-plus action-icon btn btn-default"></span>
            </th>
        </tr>
        <tr *ngFor="let mask of maskNumberList">
            <td (click)="consultMask(mask)" id="title">{{mask[0]}}</td>
            <td (click)="consultMask(mask)" >{{mask[1]}}</td>
            <td (click)="consultMask(mask)" >{{mask[2]}}</td>
            <td (click)="consultMask(mask)" >{{mask[3]}}</td>
            
            <td>
                <span (click)="deleteMaskNumber(mask[1])" class="glyphicon glyphicon-trash action-icon btn btn-default"></span>
            </td>
        </tr>
    </table>
</div>
 
<modal>
    <maskNumberForm *ngIf="isConsulting||isAdding" class="modal-content" [title]="title" [isConsulting]="isConsulting" [isAdding]="isAdding" [numeroGIS]="numeroGIS" [numeroPublic]="numeroPublic" [descMask]="descMask" [SMSMask]="SMSMask" (onCancel)="modalClose($event)" (onCreate)="maskCreate($event)" (onTestNum)="restNumGIS($event)" (onSave)="maskSave($event)" (onModify)="maskModify($event)"></maskNumberForm>
    <DeleteMaskNumberForm *ngIf="isDeleting"  class="modal-content" [numeroGIS]="numeroGIS" (onDelete)="onDelete($event)" (onCancel)="modalClose($event)" ></DeleteMaskNumberForm>
</modal> 

<!-- <modal > -->
    <!-- <maskNumberForm *ngIf="isConsulting||isAdding" class="modal-content" [numeroGIS]="numeroGIS" ></maskNumberForm> -->
   <!--maskNumberForm *ngIf="isConsulting||isAdding" class="modal-content" [numeroGIS]="numeroGIS"  (onSave)="maskSave($event)" (onModify)="maskModify($event)" (onCancel)="maskCancel($event)" (onCreate)="maskCreate($event)" [Adding]="isAdding"></maskNumberForm-->
    <!--deleteMaskNumberForm *ngIf="isDeleting"  class="modal-content" [numeroGIS]="numeroGIS" [numeroPublic]="numeroPublic" (onClose)="onClose($event)"  (onDelete)="onDelete($event)"></deleteMaskNumberForm-->
<!-- </modal> -->