<div class="maskDetails">  
    <header id="consultPanel">
        <h2>{{title}}</h2>
    </header>
    <br>
    <div>
        <label id="consultMask"class="text" >Description  :</label>
        <input *ngIf="!isAdding&&!isUpdating" id="consultMask" class="consult-mask" disabled [ngModel]="descMask" />
        <input *ngIf="isAdding||isUpdating" id="consultMask" class="consult-mask" [(ngModel)]="descMask"/>
    </div>
    <br>
    <div>
        <label id="consultMask" class="text" >Numero GIS  :</label>
        <input id="consultMask" *ngIf="!isAdding" disabled [ngModel]="numeroGIS"/>
        <input *ngIf="isAdding" id="consultMask"  [(ngModel)]="numeroGIS"/>
    </div>
    <br>
    <div>
        <label id="consultMask"class="text " >Numero Public  :</label>
        <input *ngIf="!isAdding&&!isUpdating" id="consultMask"  disabled [(ngModel)]="numeroPublic"/>
        <input *ngIf="isAdding||isUpdating" id="consultMask"  [(ngModel)]="numeroPublic"/>
    </div>
    
    <br>
    <div>
        <label id="consultMask"class="text" >SMS  :</label>
        <input *ngIf="!isAdding&&!isUpdating" id="consultMask" class="consult-mask" disabled [ngModel]="SMSMask" />
        <input *ngIf="isAdding||isUpdating" id="consultMask" class="consult-mask" [(ngModel)]="SMSMask"/>
    </div>
    <br>

    <div id="buton">
        <span id="modifyBtn" *ngIf="!isUpdating&&!isAdding" (click)="modifymask()" [ngStyle]="myButonStyle" class="btn btn-default mymaskButon">Modifier</span>
        <span id="saveBtn" *ngIf="isUpdating&&(!isAdding)" (click)="savemask()" [ngStyle]="myButonStyle" class="btn btn-default mymaskButon">Enregistrer</span>
        <span id="createBtn" *ngIf="isAdding" (click)="createMask()" [ngStyle]="myButonStyle" class="btn btn-default mymaskButon">Créer</span>
        <span id="cancelBtn" *ngIf="isUpdating&&(!isAdding)" (click)="cancel()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Annuler</span>
    </div>
    <br>
    <div id="maskHelp">
        <span class="glyphicon glyphicon-question-sign btn btn-default btn-sm" (click)="panelHelp()"></span>
    </div>
</div>  
<modal id="maskHelp">
    Le numéro noir est à définir afin de vocaliser un message associé
</modal> 

