<div class="wrTxtMsgDetails">
    <header id="consultPanel">
        <h2>{{title}}</h2>
    </header>
    <br>
    <div>
        <label class="text">Nom du pied :</label>
        <input *ngIf="isConsulting" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" disabled [ngModel]="templateContent.templateContentName" />
        <input *ngIf="isUpdating||isAdding" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" [(ngModel)]="templateContent.templateContentName" />
    </div>

    <div>
        <label class="text">Client :</label>
        <input *ngIf="isConsulting" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" disabled [ngModel]="templateContent.contractCustomerLabel" />
        <select *ngIf="isUpdating" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" [(ngModel)]="templateContent.contractCustomerLabel">
            <option *ngFor="let client of contractCustomers" [ngValue]="client.label" [selected]="templateContent.contractCustomerLabel == client.label">{{client.label}}</option>
        </select>
        <select *ngIf="isAdding" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" [(ngModel)]="templateContent.contractCustomerLabel">
            <option *ngFor="let client of contractCustomers" [ngValue]="client.label">{{client.label}}</option>
        </select>
    </div>

    <div>
        <label class="text">Message à diffuser (long) :</label>
        <input *ngIf="isConsulting" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" disabled [ngModel]="templateContent.templateContentTxt" />
        <input *ngIf="isUpdating||isAdding" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" [(ngModel)]="templateContent.templateContentTxt" />
    </div>

    <div>
        <label class="text">Message à diffuser (court) :</label>
        <input *ngIf="isConsulting" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" disabled [ngModel]="templateContent.templateContentShortTxt" />
        <input *ngIf="isUpdating||isAdding" id="consultWTM" style="margin-left:2em;position:fixed;left:5em;" [(ngModel)]="templateContent.templateContentShortTxt" />
    </div>



    <div id="button">
        <span id="updateBttn" *ngIf="!isUpdating&&isConsulting" (click)="updateWrttnMessageTxt()" class="btn btn-default ">Modifier</span>
        <span id="saveBttn" *ngIf="isUpdating" (click)="saveWrttnMessageTxt()" class="btn btn-default ">Enregistrer</span>
        <span id="createBttn" *ngIf="isAdding" (click)="createWrttnMessageTxt()" class="btn btn-default ">Créer</span>
        <span id="cancelBttn" *ngIf="isUpdating" (click)="cancel()" class="btn btn-default ">Annuler</span>
    </div>
</div>