<div class="modelDetails">
    <header id="consultPanel">
        <h2>{{title}}</h2> 
        <!--<composedSelect (onChange)="selectTemplate($event)"></composedSelect>-->
    </header>
    <br>
    <label class="text">Nom du modèle :</label>
    <input *ngIf="!Adding" id="consultProg" style="margin-left:2em;position:fixed;left:-5.15em;" disabled [ngModel]="templateName"/> 
    <input *ngIf="Adding" id="consultProg" style="margin-left:2em;position:fixed;left:-5.15em;" [(ngModel)]="templateName"/> 
    <div>
<!--        <label class="text">Canal :</label>   
        <input id="consultProg" style="margin-left:2em;position:fixed;left:-5.15em;" />-->
    </div>
        <div class="wrapper" style="height:2em;width:58em;border-bottom: 1px solid orange;">
            <label class="text" style="width:25em;position:fixed;left:-14.2em;top:12em;color: orange;">Contenu du modèle</label>            
            <input id="contentDisplay" *ngIf="isContentDisplayed" disabled style="margin-left:2em;position:fixed;left:-17em;top:15.5em" [ngModel]="modelContent"/>
            <span *ngIf="!isContentDisplayed" class="glyphicon glyphicon-eye-open btn btn-default btn-sm" style="position:fixed;left:54em;top:13.5em;width:3em;height:2.5em" (click)="contentDisplay()"></span>
            <span *ngIf="isContentDisplayed" class="glyphicon glyphicon-eye-close btn btn-default btn-sm" style="position:fixed;left:54em;top:13.5em;width:3em;height:2.5em" (click)="contentHide()"></span>
            <label class="text" style="position:fixed;top:20em;font-size:11px;">Eléments disponibles</label>
            
            <div class="container1 container4" style="overflow-y: scroll;" [dragula]='"bag-one"'>
                <div class="blueElement" id='origin-left' *ngFor="let item of items">{{item.description}}</div> 
            </div>
            <div class="container1" style="position:fixed;top:30em;left:0em" [dragula]='"bag-one"'>                     
                <div id='carriage-return' class="greenElement" style="position: unset;top:30em;" >
                    <span style="position:relative;font-size:14px;" >&crarr;</span>                     
                </div>                
            </div>  
           
            <div class="container2" style="overflow-y: auto;" [dragula]='"bag-one"'>
                <div class="blueElement" [ngClass]="item.description" id='origin-left' *ngFor="let item of itemsOrder">{{item.description}}<select [ngClass]="item.description" (change)="selectTemplate($event)">
                    <!--<option *ngFor="let text of textList" [ngValue]="text" [selected]='((item.keyword=="template_content")&&(text==firstFooterContent))||(item.keyword=="template_content_short")&&(text==secondFooterContent)||(item.keyword=="template_content_url")&&(text==thirdFooterContent)'>{{text}}</option></select>
                -->
                    <option *ngFor="let text of messageText" [ngValue]="text.templateContentId" [selected]='((item.keyword=="template_content")&&(text.templateContentId==firstFooterContent))||(item.keyword=="template_content_short")&&(text.templateContentId==secondFooterContent)||(item.keyword=="template_content_url")&&(text.templateContentId==thirdFooterContent)'>{{text.templateContentId}}</option></select>                
                </div> 
            </div>
            <label class="text" style="position:fixed;top:20em;left:25em;font-size:11px;">Ordre d'affichage</label>
            <span class="glyphicon glyphicon-question-sign btn btn-default btn-sm" style="position:fixed;left:54em;top:18.5em;" (click)="panelHelp(3)"></span>            
            <label class="text" style="position:fixed;top:42em;left:25em;font-size:11px;">Priorité des éléments</label>
            <div class="container5" style="overflow-y: auto;" [dragula]='"bag-two"' [(dragulaModel)]="noPriorityContent">             
                <div class="blueElement" *ngFor="let item of noPriorityContent">{{item}}</div> 
            </div>      
            <div class="container3" style="overflow-y: auto;" [dragula]='"bag-two"' [(dragulaModel)]="essai">                
                <div class="blueElement" *ngFor="let item of essai">{{item}}</div>
            </div>
            <span class="glyphicon glyphicon-question-sign btn btn-default btn-sm" style="position:fixed;left:54em;top:38.5em;" (click)="panelHelp(2)"></span>
        </div>
        <div id="ModelHelp">
            <span class="glyphicon glyphicon-question-sign btn btn-default btn-sm" (click)="panelHelp(1)"></span>
        </div>
        <div id="buton">
            <span id="modifyBtn2" *ngIf="(!isModifying)&&!Adding" (click)="modifyModel()" class="btn btn-default myRouteButon">Modifier</span>
            <span id="saveBtn" *ngIf="isModifying&&(!Adding)" (click)="saveModel()" class="btn btn-default myRouteButon">Enregistrer</span>
            <span id="createBtn" *ngIf="Adding" (click)="createModel()" class="btn btn-default myRouteButon">Créer</span>
            <span id="cancelBtn" *ngIf="isModifying&&(!Adding)" (click)="cancel()" class="btn btn-default myRouteButon">Annuler</span>
        </div>
</div> 
<modal [ngStyle]="myHelpStyle">
    <label *ngIf="panelHelpId==1" style="margin: 0.5em;font-weight:normal;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;">
        Ces modèles sont disponibles pour une programmation sur un parcours.
    </label>
    <label *ngIf="panelHelpId==3" style="margin: 0.5em;font-weight:normal;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;">
        Sélectionnez les éléments désirés dans la liste de gauche et faites les glisser dans la liste de droite.

        Les éléments du modèle seront séparés par des espaces, vous pouvez ajouter des retours à la ligne. 
    </label>
    <label *ngIf="panelHelpId==2" style="margin: 0.5em;font-weight:normal;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;">
        Organisez les éléments du modèle du plus important au moins important.

        Si la taille du message dépasse 160 caractères, le ou les éléments les moins importants seront supprimés.

        Les éléments glissés juste au-dessus de la liste ne seront jamais supprimés, ils seront tronqués si jamais le SMS dépasse 160 caractères une fois les autres éléments supprimés. 
    </label>
</modal> 