<div id="table" style="overflow-y: auto;">
    <table>
        <tr>
            <th id="title">Nom du pied</th>
            <th>Message à diffuser (long)</th>
            <th>Client</th>
            <th id="command">
                <span (click)="createWrittMessText()" class="glyphicon glyphicon-plus action-icon btn btn-default"></span>
            </th>
        </tr>
        <tr *ngFor="let temp of _templatesContents">
            <td (click)="consultText(temp)" id="title">{{temp.templateContentName}}</td>
            <td (click)="consultText(temp)">{{temp.templateContentTxt}}</td>
            <td (click)="consultText(temp)">{{temp.contractCustomerLabel}}</td>
            <td>
                <span (click)="deleteWrittMessText(temp.templateContentId, temp.templateContentName)" class="glyphicon glyphicon-trash action-icon btn btn-default"></span>
            </td>
        </tr>
    </table>
</div>

<modal>
    <!--<writtenMessageTextSelector *ngIf="isConsulting||isAdding" class="modal-content" [templateContent]="templateContent" [contractCustomerLabel]="contractCustomerLabel"  [templateContentTxt]="templateContentTxt"
        [templateContentShortTxt]="templateContentShortTxt" [isAdding]="isAdding" [isConsulting]="isConsulting"></writtenMessageTextSelector> -->
    <writtenMessageTextSelector *ngIf="isConsulting||isAdding" class="modal-content" [templateContent]="templateContent" [isAdding]="isAdding" [isConsulting]="isConsulting" (onSave)=wtmSave($event) (onUpdate)="wmtUpdate($event)" (onCancel)="wmtCancel($event)"
        (onCreate)="wmtCreate($event)"></writtenMessageTextSelector>
    <deleteWrittMessTextSelector *ngIf="isDeleting" class="modal-content" [templateContentId]="templateContentId" [templateContentName]="templateContentName" (onClose)="modalClose($event)" (onDelete)="onDelete($event)"></deleteWrittMessTextSelector>
</modal>