table {
    border-collapse: collapse;
    width: 100%;
}

div#table {
    margin-top: 3em;
    border: 1px solid #FFA500;
    border-radius: 0.4em;
    padding: 0.5em;
    width: 100%;
}

th {
    height: 3.1em;
    /*border: 1px solid black;*/
    text-align: center;
    background-color: #FFA500;
    width: 11em;
    border-radius: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

th#title {
    background-color: #FFA500;
    width: 12em;
}

th#command {
    background-color: #FFA500;
    width: 3em;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

tr:nth-child(even) {
    background-color: grey;
}

tr:hover {
    background-color: skyblue;
}

td {
    height: 3.1em;
    /*border: 1px solid black;  */
    text-align: center;
    /*border-right: 1px solid #FFA500;*/
    border-radius: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

tr {
    /*border-bottom: 2px solid #FFA500; */
    border-radius: 0.4em;
}

td#title {
    /*border: 1px solid black; */
    text-align: left;
    padding: 1em;
    border-radius: 0.4em;
}

header#consultPanel h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: orange;
}

div.templateContentName {
    width: 100%;
    height: 2.5em;
    margin: 0em;
}

div#typeChoice {
    border-bottom: 2px solid orange;
    margin-top: 1.5em;
    margin-left: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 60em;
}

label#typeChoice {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: orange;
}

input#typeChoice {
    margin-left: 1.5em;
    padding: 1em;
    color: black;
}

font#templateContentName {
    margin: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: orange;
}

.modal-content {
    position: fixed;
    left: -15em;
}

div.wrTxtMsgDetails {
    height: 35em;
    width: 62.1em;
    margin: 0.7em;
    border: 1px solid orange;
    border-radius: 0.5em;
    padding-left: 4em;
}

#updateBttn {
    position: fixed;
    top: 30em;
    left: -7.5em;
}

#saveBttn {
    position: fixed;
    top: 30em;
    left: 32em;
}

#createBttn {
    position: fixed;
    top: 30em;
    left: 35em;
}

#cancelBttn {
    position: fixed;
    top: 30em;
    left: 40em;
}

label#consultWTM {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: relative;
    left: 0.5em;
    top: 0em;
}

input#consultWTM {
    width: 20em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 1.6em;
    padding: 0.10em;
    border: 1px solid grey;
    border-radius: 0.4em;
}

select#consultWTM {
    width: 20em;
    margin: 0.0em;
    position: fixed;
    left: 8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0.4em;
}