<div id="table" style="overflow-y: auto;">
    <table>
        <tr>
            <th id="title">Nom du modèle</th>
            <th>Non du contenu</th>
            <th>Canal</th>
            <th>Format du modèle</th>
            <th id="command">
                <span (click)="addModel()" class="glyphicon glyphicon-plus action-icon btn btn-default"></span>
            </th>
        </tr>
        <tr *ngFor="let temp of _templates">
            <td (click)="consultModel(temp.templateName,temp.idTemplate)" id="title">{{temp.templateName}}</td>
            <td (click)="consultModel(temp.templateName,temp.idTemplate)">{{temp.templateContent.templateContentId}}</td>
            <td (click)="consultModel(temp.templateName,temp.idTemplate)">{{temp.format.formatId}}</td>
            <td (click)="consultModel(temp.templateName,temp.idTemplate)">{{temp.templateTemplate}}</td>
            <td>
                <span (click)="deleteModel(temp.templateName,temp.idTemplate)" class="glyphicon glyphicon-trash action-icon btn btn-default"></span>
            </td>
        </tr>
    </table>
</div>

<modal>
    <writtenMessageModelForm *ngIf="isConsulting||isAdding" class="modal-content" [idTemplate]="idTemplate" [templateName]="templateName" (onSave)="tempSave($event)" (onUpdate)="tempModify($event)" (onCancel)="tempCancel($event)" (onCreate)="tempCreate($event)"
        [Adding]="isAdding"></writtenMessageModelForm>
    <deleteMessageModelForm *ngIf="isDeleting" class="modal-content" [idTemplate]="idTemplate" [templateName]="templateName" (onClose)="onClose($event)" (onDelete)="onDelete($event)"></deleteMessageModelForm>
</modal>