<div class="modelDetails">
    <header id="consultPanel">
        <h2>{{_title}}</h2>
    </header>
    <br>
    <div class="routeName">
        <label class="text" >Phase vocale :</label>
        <input id="consultProg" disabled [ngModel]="phaseName"/>
    </div>
    <div class="routeName">
        <label class="text" >Nom du modèle :</label>
        <input *ngIf="!_isModifying&&!isAdding" id="consultProg" disabled [(ngModel)]="messageName"/>
        <input *ngIf="_isModifying||isAdding" id="consultProg" [(ngModel)]="messageName"/>
    </div>
    <div style="margin-top: 1em;" class="routeName">
        <span *ngIf="_isPresent" style="color:green;font-size:1.8em;" class="glyphicon glyphicon-ok-sign"></span>
        <label *ngIf="_isPresent" class="text" >Fichier présent, vous pouvez l'écouter.  </label>
        <span *ngIf="!_isPresent" style="color:orange;font-size:1.8em;" class="glyphicon glyphicon-question-sign"></span>
        <label *ngIf="!_isPresent" class="text" >Fichier absent.  </label>
        <span *ngIf="_isPresent" (click)="listenMessage()" class="glyphicon glyphicon-volume-up action-icon btn btn-default"></span>
        <span *ngIf="!_isPresent" (click)="listenMessage()" class="glyphicon glyphicon-volume-off action-icon btn btn-default" disabled></span>
    </div>
    <div style="margin-top: 1em;" class="routeName">
        <label class="text" >Fichier audio à télécharger :</label>
        <span *ngIf="!_isModifying&&!isAdding" class="btn btn-default" style="height:1.8em;width:6.2em;padding:0.2em;" disabled>Parcourir...</span>        
        <label *ngIf="!_isModifying&&!isAdding" style="font-weight:normal;margin-left:0.5em;">Aucun fichier sélectionné</label>
        <input *ngIf="_isModifying||isAdding" type="file" name="toto" (change)="uploadMessage($event)" style="position:fixed;left:8.5em;top:16.4em;"/>

    </div> 
    <div id="buton">
        <span id="modifyBtn" *ngIf="(!_isModifying)&&!isAdding" (click)="modifyMessage()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Modifier</span>
        <span id="saveBtn" *ngIf="_isModifying&&(!isAdding)" (click)="saveMessage()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Enregistrer</span>
        <span id="createBtn" *ngIf="isAdding" (click)="createMessage()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Créer</span>
        <span id="cancelBtn" *ngIf="_isModifying&&(!isAdding)" (click)="cancel()" [ngStyle]="myButonStyle" class="btn btn-default myRouteButon">Annuler</span>
    </div>    
    <div id="routeHelp">
        <span class="glyphicon glyphicon-question-sign btn btn-default btn-sm" (click)="panelHelp()"></span>
    </div>
</div>  
<modal id="routeHelp">
    Ces messages sont disponibles pour une programmation sur un parcours. 
</modal> 