table
{
    border-collapse: collapse;    
    width: 100%;
}

div#table {
    margin-top: 3em;
    border: 1px solid #FFA500;
    border-radius: 0.4em;
    padding: 0.5em;  
    width: 100%;
}

th {
    height: 3.1em;
    text-align: center;
    background-color: #FFA500;
    width: 11em;
    border-radius: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

th#title {
    background-color: #FFA500  ;
    width: 12em;
}

th#command {
    background-color: #FFA500 ;
    width: 3em;
}
tr:nth-child(odd) {background-color: lightgrey;}
tr:nth-child(even) {background-color: grey;}
tr:hover {background-color: skyblue;}

td 
{
    height: 3.1em; 
    text-align: center;
    border-radius: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

tr
{ 
    border-radius: 0.4em;
}

td#title 
{
    text-align: left;   
    padding: 1em; 
    border-radius: 0.4em;
}

header#consultPanel h2
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-size: 27px ;  
    font-weight: bold;
    color: orange;
}

.modal-content {
  position:fixed;
  left:-15em;
}

div.modelDetails
{
  height: 55em;
  width: 72.1em; 
  margin: 0.7em;
  border:  1px solid orange;
  border-radius: 0.5em;
  padding-left: 1em;
}

/*div.container1 
{
    border: 1px solid grey;
    width: 14em;
    height: 14em;
    display:list-item; 
    cursor: -webkit-grab;
    position: fixed;
    top:16em;
    left:0em;
    background-color: lightgray;
}*/

div.container4 
{
    border: 1px solid grey;
    width: 14em;
    height: 14em;
    display:list-item; 
    cursor: -webkit-grab;
    position: fixed;
    top:16em;
    left:0em;
    background-color: lightgray;
}

div.container2
{
    border: 1px solid grey;
    width: 14em;
    height: 14em;
    display:list-item; 
    cursor: -webkit-grab;
    position: fixed;
    top:16em;
    left:32em;
}

div.container3
{
    border: 1px solid grey;
    width: 14em;
    height: 14em;
    display:list-item; 
    cursor: -webkit-grab;
    position: fixed;
    top:33em;
    left:32em;
}

div.container5
{
    border: 1px dotted grey;
    width: 14em;
    height: 11em;
    display:list-item; 
    cursor: -webkit-grab;
    position: fixed;
    top:36em;
    left:17.8em;
}

div.blueElement {
    margin: 0.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background: lightblue;
    border: 1px solid grey;
    border-radius: 0.5em;
/*    width: 12em;
    height: 2em;*/
    block-size: auto;
    max-width: 13.5em;
}

div.cr {
    margin-top: 0.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background: lightgreen;
    border: 1px solid grey;
    border-radius: 0.5em;
    width: 2.5em;
    height: 1.5em;
    text-align: center;
    text-decoration: bold 12px;
}

.blueElement:hover{
    background: gold;
    border:1px solid blue;
    cursor: move;
}

div.greenElement {
    margin-top: 0.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background: lightgreen;
    border: 1px solid grey;
    border-radius: 0.5em;
    width: 2.5em;
    height: 1.5em;
    text-align: center;
    text-decoration: bold 12px;
}

.greenElement:hover{
    background: gold;
    border:1px solid blue;
    cursor: move;
}

#modifyBtn2 {
    left: -10.5em;
}

div#ModelHelp {
    position: fixed;
    top: 53em;
    left: -13.1em;
}

modal#modelHelp {
    top: 53em;
    left: -20em;
}

input#contentDisplay {
    width: 60em;
    margin: 0.5em;
    
    position: fixed;
    left: 8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height:1.6em;
    padding: 0.10em;
    border: 1px solid grey;
    border-radius:0.4em;
}

.green {
    color: green;
}