<div>
    <label class="text" style="position:relative;top:1.7em;">Filtrer par phase :</label>
        <select style="position:relative;top:2em;" name="select" id="duSelect" (change)="setSelected($event.target.value)">
            <option *ngFor="let phase of _phaseListFinal"  value="{{phase.libPhase}}">{{phase.libPhase}}</option>
        </select>
</div>
<div id="table" style="overflow-y: auto;">
    <table>
        <tr>
            <th id="title">Fichier audio</th>
            <th>Nom du modèle</th>            
            <th id="command">
                <span (click)="addCustomAudioMessage()" class="glyphicon glyphicon-plus action-icon btn btn-default"></span>
            </th>   
        </tr>
        <tr *ngFor="let audioTrack of _audioTrackListFinal">
            <td (click)="consultMessage(audioTrack.tmp)" >
                <span *ngIf="audioTrack.isPresent" style="color:green;font-size:1.8em;" class="glyphicon glyphicon-ok-sign"></span>
                <span *ngIf="!audioTrack.isPresent" style="color:orange;font-size:1.8em;" class="glyphicon glyphicon-question-sign"></span>
            </td>
            <td (click)="consultMessage(audioTrack.tmp)" id="title">{{audioTrack.tmp.templateName}}</td>
            <td>
                <span (click)="listenMessage(audioTrack.tmp)" class="glyphicon glyphicon-volume-up action-icon btn btn-default"></span>
                <span (click)="deleteMessage(audioTrack.tmp)" class="glyphicon glyphicon-trash action-icon btn btn-default"></span>
            </td>
        </tr>
    </table>
</div> 

<modal>
    <deleteCustomAudioMessageForm *ngIf="isDeleting"  class="modal-content" [idMessage]="idMessage" [messageName]="messageName" (onClose)="onClose($event)"  (onDelete)="onDelete($event)"></deleteCustomAudioMessageForm>
    <customAudioMessageForm *ngIf="!isDeleting"  class="modal-content" [idMessage]="idMessage" [messageName]="messageName" [phaseName]="phaseName" [trackName]="trackName" [isAdding]="isAdding"
    (onCreate)="messageCreateOrSave($event)" (onSave)="messageCreateOrSave($event)" (onModify)="messageModify($event)" (onCancel)="messageModifyCancel($event)" ></customAudioMessageForm>
</modal>