<div id="table" style="overflow-y: auto;">
    <table>
        <tr>
            <th id="title">Fichier audio</th>
            <th>Fichier</th>
            <th>Libellé</th>
            <th>Phase</th>    
            <!--<th>Service</th>-->
            <th id="command"></th>     
        </tr>
        <tr *ngFor="let audioTrack of _audioTrackList">
            <td (click)="consultMessage(audioTrack)">
                <span *ngIf="audioTrack.isPresent" style="color:green;font-size:1.8em;" class="glyphicon glyphicon-ok-sign"></span>
                <span *ngIf="!audioTrack.isPresent" style="color:orange;font-size:1.8em;" class="glyphicon glyphicon-question-sign"></span>
            </td>
            <td (click)="consultMessage(audioTrack)" id="title">{{audioTrack.filename}}</td>
            <td (click)="consultMessage(audioTrack)">{{audioTrack.libelle}}</td>
            <td (click)="consultMessage(audioTrack)">{{audioTrack.phaseLib}}</td>
            <!--<td (click)="consultMessage(audioTrack)">{{audioTrack.serviceName}}</td>-->
            <td>
                <span (click)="listenMessage(audioTrack.filename)" class="glyphicon glyphicon-volume-up action-icon btn btn-default"></span>
            </td>
        </tr>
    </table>
</div> 

<modal>
    <defaultAudioMessageForm *ngIf="!isDeleting" class="modal-content" [idMessage]="idMessage" [messageName]="messageName" [phaseName]="phaseName"
    (onSave)="messageCreateOrSave($event)"></defaultAudioMessageForm>
</modal>