﻿<span *ngIf="!isValidating">
    <div>
        <div class="mediaSimuForm1" style="height: 13.8em;">
            <div class="inputsNlabels">
                <div>
                    <label class="simulatorForm" >Liste des indicateurs réseaux :</label>
                </div>  
                <div>
                    <label class="simulatorForm" >Liste des communautés :</label>
                </div>  
                <div>
                    <label class="simulatorForm" >Liste des segments :</label>
                </div>  
                <div>
                    <label class="simulatorForm" >Département d'origine :</label>
                </div>  
                <div>
                    <label class="simulatorForm" >Date de la simulation :</label>
                </div> 
            </div>
            <div class="inputsNlabels">
                <div>
                    <select class="itemsList" [(ngModel)]="myDu">
                        <option *ngFor="let du of duList" [selected]="myDu=='DU '+ du.serviceDu + ' ' + du.serviceDescription">DU {{du.serviceDu}} {{du.serviceDescription}}</option>
                    </select>
                </div>  
                <div>
                    <select class="itemsList" id="comList" [(ngModel)]="myCommunity">
                        <option *ngFor="let communities of communitiesList" [selected]="myCommunity==communities.libCommunity">{{communities.libCommunity}}</option>
                    </select>
                </div>  
                <div>
                    <select class="itemsList" id="segList" [(ngModel)]="mySegment">
                        <option *ngFor="let segments of segmentsList" [selected]="mySegment==segments.libCategory">{{segments.libCategory}}</option>
                    </select>
                </div>  
                <div>
                    <input class="simCrit" id="depOri" type="text" size="50"/>
                </div>  
                <div>
                    <my-date-picker id="simulDate" [options]="myDatePickerOptions" [(ngModel)]="myDate" (dateChanged)="modifyDate($event)"></my-date-picker>
                </div> 
            </div>        
        </div>
        <div>
             <span id="validatingBtn" (click)="getCustomerRouteSimulation()" class="btn btn-default">Valider</span>
        </div>
    </div>
</span>
<span *ngIf="isValidating">  
    <div id="dialSimuForm2">  
        <div id="dialSimuResult">
            <div>
                <label id="phaseSearch">Recherche du parcours client</label>
            </div> 
<!--            <div>
                <label id="returnedTemplate">Le parcours client retourné est :    {{routeName}}</label>
            </div>--> 
        </div>
        <div id="dialSimuResult2" *ngFor="let result of results">
            <!--<div >-->
                <div>
                    <label *ngIf="result.codePhase=='ACC'" id="phaseSearch">Recherche du message d'accueil</label>
                    <label *ngIf="result.codePhase=='TARIF'" id="phaseSearch">Recherche du message de tarif</label>
                    <label *ngIf="result.codePhase=='ATT'" id="phaseSearch">Recherche du message d'attente</label>
                    <label *ngIf="result.codePhase=='PROMO'" id="phaseSearch">Recherche du message de promo</label>
                </div>
                <div>
                    <label id="returnedTemplate">Le template retourné est :    {{result.templateName}}</label>
                    <span  (click)="openPopup(result.templateContentName)" class="glyphicon glyphicon-volume-up action-icon btn btn-default" style="position:relative;left:2em;top:-0.2em;"></span>
</div>
<!--</div>-->
</div>
<span (click)="isValidating=false" class="btn btn-default myBackButon" type="button">Retour</span>
</div>
</span>