﻿.closed {
    text-decoration: line-through;
    opacity: 0.4;
}

button {
    width: 1.8em;
    height: 1.8em;
    padding-top: 0.1em;
    padding-left: 0.4em;
}

label#backLabel {
    font-size: 0.9em;
    padding-top: 0em;
    font-family: Arial;
}

span.glyphicon {
    font-size: 80%;
}

div.circle {
    position: relative;
    top: 5%;
    left: 20%;
}

div.line {
    position: relative;
    top: 0em;
    left: 20.5em;
}

div.startline {
    position: relative;
    top: 0em;
    left: 20.5em;
}

div label#fees {
    position: inherit;
    top: 10%;
    left: 37%;
    font-family: Arial;
}

div label#infos1 {
    position: absolute;
    top: 17.5em;
    left: 46em;
    font-family: Arial;
}

div label#infos2 {
    position: absolute;
    top: 17.5em;
    left: 59em;
    font-style: italic;
    font-family: Arial;
    font-size: 1em;
}

div span#fees {
    position: fixed;
    top: 39em;
    left: 85em;
}

div label#welcome {
    position: inherit;
    top: 10%;
    left: 28%;
    font-family: Arial;
}

div span#welcome {
    position: absolute;
    top: 50%;
    left: 35%;
}

div label#waiting {
    position: inherit;
    top: 10%;
    left: 29%;
    font-family: Arial;
}

div span#waiting {
    position: absolute;
    top: 50%;
    left: 35%;
}

div label#promo {
    position: inherit;
    top: 10%;
    left: 31%;
    font-family: Arial;
}

div span#promo {
    position: absolute;
    top: 50%;
    left: 35%;
}

.player {
    width: 10px;
    background: #525653;
}


/* Styles formulaire Simulateur Dialogue */

input#depOri {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0.4em;
}
label.simulatorForm {
    margin-top: 0.35em;
    vertical-align:middle;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

label.addInfo {
    margin-top: 0.45em;
    vertical-align:middle;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

input.simCrit {
    width: 15em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    vertical-align:middle;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0.4em;
}

select.itemsList {
    width: 20em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    vertical-align:middle;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0.4em;
}

#simulDate {
    position: relative;
    top: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 0.4em;
}

select#segList {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0.4em;
}

select#comList {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0.4em;
}

#validatingBtn {
    margin: 1.5em;
    position: relative;
    top: 2em;
    left: 0em;
}

input#simuDate {
    margin-top: 0.25em;
    border: 1px solid grey;
    border-radius: 0.4em;
    position: relative;
    margin-left: 5.2em;
    margin-right: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 1.6em;
    padding: 0em;
}

input#tinyURL {
     margin-top: 1em;
}
div.mediaSimuForm1 {
    width: 78em;
    margin-top: 3em;
    padding: 0.5em;
    border: 1px solid #FFA500;
    border-radius: 0.4em;
}
div.subsection {
    margin-top: 2em;
    margin-bottom: -3em; 
}
label.subsection {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #FF7500;

}

div#dialSimuForm2 {
    margin-top: 1.65em;
    padding: 0.5em;
    height: 35em;
    padding: 0.5em;
}

div#dialSimuResult {
    margin-top: 1em;
    padding: 0.5em;
    border: 3px double #FFA500;
    border-radius: 0.4em;
    height: 3.5em;
    text-align: center;
}

div#dialSimuResult2 {
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #FFA500;
    border-radius: 0.4em;
    height: 5em;
}

.myBackButon {
    margin-top: 1.5em;
}

label#phaseSearch {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #FFA500;
    /*border-bottom: 1px solid #FFA500;*/
}

label#returnedTemplate {
    margin-top: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.inputsNlabels {
    display: inline-block;
    vertical-align: top;
    width: 20em;

}