﻿<span *ngIf="!isValidating">
	<div>
		<div class="mediaSimuForm1" style="height: 16em;">
			<div class="inputsNlabels">
				<div>
					<label class="simulatorForm">Numéro de l'appelant :</label>
				</div>
				<div>
					<label class="simulatorForm">Liste des indicateurs réseaux :</label>
				</div>
				<div>
					<label class="simulatorForm">Liste des communautés :</label>
				</div>
				<div>
					<label class="simulatorForm">Liste des segments :</label>
				</div>
				<div>
					<label class="simulatorForm">Département d'origine :</label>
				</div>
				<div>
					<label class="simulatorForm">Liste des activités :</label>
				</div>
				<div>
					<label class="simulatorForm">Date de la simulation :</label>
				</div>
			</div>
			<div class="inputsNlabels">
				<div>
					<input class="simCrit" type="text" size="50" />
				</div>
				<div>
					<select class="itemsList" [(ngModel)]="myDu">
						<option *ngFor="let du of duList"[selected]="myDu=='DU '+ du.serviceDu + ' ' + du.serviceDescription">DU{{du.serviceDu}} {{du.serviceDescription}}</option>
					</select>
				</div>
				<div>
					<select class="itemsList" [(ngModel)]="myCommunity">
						<option *ngFor="let communities of communitiesList"[selected]="myCommunity==communities.libCommunity">{{communities.libCommunity}}</option>
					</select>
				</div>
				<div>
					<select class="itemsList" [(ngModel)]="mySegment">
						<option *ngFor="let segments of segmentsList"[selected]="mySegment==segments.libCategory">{{segments.libCategory}}</option>
					</select>
				</div>
				<div>
					<input class="simCrit" type="text" size="50" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" placeholder="codes séparés par ';'" />
				</div>
				<div>
					<my-date-picker id="simulDate" [options]="myDatePickerOptions" [(ngModel)]="myDate" (dateChanged)="modifyDate($event)"></my-date-picker>
				</div>
			</div>
		</div>
		
		<div class="subsection"><label class="subsection">Informations retournées par la STI</label></div>
		<div class="mediaSimuForm1" style="height: 10em;">
			
			<div class="inputsNlabels">
				<div>
					<label class="simulatorForm">Numéro recherché :</label>
				</div>
				<div>
					<label class="simulatorForm">Commentaire du téléopérateur (SMS Query) :</label>
				</div>
				<div>
					<label class="simulatorForm">Tiny url :</label>
				</div>
			</div>
			<div class="inputsNlabels">
				<div>
					<input class="simCrit" type="text" size="50" placeholder="0556574712" />
				</div>	
				<div>
					<input class="simCrit" type="text" size="50" placeholder="Le numéro est sur liste Orange." />
				</div>
				<div>
					<input class="simCrit" id="tinyURL" type="text" size="50" placeholder="http://712.fr/KUX0Op" />
				</div>
			</div>
		</div>
		<div class="subsection"><label class="subsection">Adresse</label></div>
		<div class="mediaSimuForm1" style="height: 18em;">
			
			<div class="inputsNlabels">
				<div>
					<label class="simulatorForm">Adresse recherchée :</label>
				</div>
				<div>
					<label class="simulatorForm">Prénom :</label>
				</div>
				<div>
					<label class="simulatorForm">Nom :</label>
				</div>
				<div>
					<label class="simulatorForm">Numéro de rue :</label>
				</div>
				<div>
					<label class="simulatorForm">Rue :</label>
				</div>
				<div>
					<label class="simulatorForm">Batiment :</label>
				</div>
				<div>
					<label class="simulatorForm">Code postal :</label>
				</div>
				<div>
					<label class="simulatorForm">Ville :</label>
				</div>
			</div>
			<div class="inputsNlabels">
				<div>
					<input class="simCrit" type="text" size="50" />
				</div>	
				<div>
					<input class="simCrit" type="text" size="50" placeholder="Paul-Emile" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" placeholder="Victor" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" placeholder="30" />
				</div>	
				<div>
					<input class="simCrit" type="text" size="50" placeholder="Quai Hubert Prom" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" placeholder="33300" />
				</div>	
				<div>
					<input class="simCrit" type="text" size="50" placeholder="Bordeaux" />
				</div>
			</div>
		</div>
		<div class="subsection"><label class="subsection">Informations additionnelles</label></div>
		<div class="mediaSimuForm1" style="height: 26em;">
			
			<div class="inputsNlabels">
				<div>
					<label class="addInfo">E-mail :</label>
				</div>
				<div>
					<label class="addInfo">Site web :</label>
				</div>
				<div>
					<label class="addInfo">Spécialité (genre, lieu) :</label>
				</div>
				<div>
					<label class="addInfo">Catégorie d'hôtel (nombre d'étoiles) :</label>
				</div>
				<div>
					<label class="addInfo">Horaires et dates de fermeture :</label>
				</div>
				<div>
					<label class="addInfo">Prix et moyens de paiements :</label>
				</div>
				<div>
					<label class="addInfo">Carte de visite :</label>
				</div>
				<div>
					<label class="addInfo">Accès Wifi :</label>
				</div>
				<div>
					<label class="addInfo">Coordonnée GPS X :</label>
				</div>
				<div>
					<label class="addInfo">Coordonnée GPS Y :</label>
				</div>
				<div>
					<label class="addInfo">Coordonnée GPS Z :</label>
				</div>
			</div>
			<div class="inputsNlabels">
				<div>
					<input class="simCrit" type="text" size="50" placeholder="paulemile.victor@orange.com" />
				</div>	
				<div>
					<input class="simCrit" type="text" size="50" placeholder="http://paulemile.pagesperso-orange.fr/" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" placeholder="Exploration" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50"  />
				</div>	
				<div>
					<input class="simCrit" type="text" size="50"  />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" />
				</div>	
				<div>
					<input class="simCrit" type="text" size="50"  />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" placeholder="601162" />
				</div>
				<div>
					<input class="simCrit" type="text" size="50" placeholder="2428980"/>
				</div>
				<div>
					<input class="simCrit" type="text" size="50" placeholder="9999" />
				</div>	
			</div>
		</div>
		<div>
			<span id="validatingBtn" (click)="getCustomerRouteSimulation()" class="btn btn-default">Valider</span>
		</div>
	</div>
</span>
<span *ngIf="isValidating">
	<div id="dialSimuForm2">
		<div id="dialSimuResult">
			<div>
				<label id="phaseSearch">Recherche du parcours client</label>
			</div>
			<!--            <div>
                <label id="returnedTemplate">Le parcours client retourné est :    {{routeName}}</label>
            </div>-->
		</div>
		<div id="dialSimuResult2" *ngFor="let result of results">
			<!--<div >-->
			<div>
				<label *ngIf="result.codePhase=='ACC'" id="phaseSearch">Recherche
					du message d'accueil</label> <label *ngIf="result.codePhase=='TARIF'"
					id="phaseSearch">Recherche du message de tarif</label> <label
					*ngIf="result.codePhase=='ATT'" id="phaseSearch">Recherche
					du message d'attente</label> <label *ngIf="result.codePhase=='PROMO'"
					id="phaseSearch">Recherche du message de promo</label>
			</div>
			<div>
				<label id="returnedTemplate">Le template retourné est :
					{{result.templateName}}</label> <span
					(click)="openPopup(result.templateContentName)"
					class="glyphicon glyphicon-volume-up action-icon btn btn-default"
					style="position: relative; left: 2em; top: -0.2em;"></span>
</div>
<!--</div>-->
</div>
<span (click)="isValidating=false" class="btn btn-default myBackButon" type="button">Retour</span>
</div>
</span>